<div class="modal-header border-bottom-0">
    <button type="button" class="btn-close" ng-click="closeModal()" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="shop-page" style="margin-top: 20px;margin-bottom: 20px;">


        <div id="shop-products" class="container">
            <div class="row">
                <div class="col-4">
                    <img style="max-width: 100%; display:block;"
                        ng-src="/angularjs_php/frontend/view/img/games/{{data.gameImg}}"></img>
                </div>
                <div class="col-8" style="margin: auto;">
                    <fieldset class="border p-2">
                        <legend class="control-label customer-legend pl-1 product-title">{{data.gameName}}
                        </legend>
                        <h5 class="price"><span style="font-weight: bold;">Price:</span>
                            <span>{{data.price}}€</span>
                        </h5>
                        <p class="views"><span style="font-weight: bold;">Views:</span> {{data.views}}</p>
                        <p class="release"><span style="font-weight: bold;">Release:</span> {{data.relDate}}
                        </p>
                        <p class="description"><span style="font-weight: bold;">Description:</span>
                            {{data.description}}</p>
                        <p class="platforms"><span style="font-weight: bold;">Platforms:</span>
                            <span class="platform" data-toggle="tooltip" title="">coming soon</span>
                        </p>
                        <div class="action">
                            <button class="add-to-cart btn btn-default" type="button"
                                style="background-color:#66A6DB; color: white;"><span class="fa fa-shopping-cart"></span>
                                Add to Cart..</button>
                            <button class="btn btn-success" id="{{data.gameCod}}"
                                ng-click="fav('{{data.gameCod}}')">
                                <i ng-show="{{data.fav == null}}" class="fa fa-heart-o"></i>
                                <i ng-show="{{data.fav != null}}" class="fa fa-heart"></i>
                            </button>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer d-flex justify-content-center">
    <div class="modal-footer">
        <button class="btn btn-danger" type="button" ng-click="closeModal()">Close</button>
    </div>
</div>