<div class="modal-header border-bottom-0">
    <button type="button" class="btn-close" data-bs-dismiss="modal" ng-click="closeModal()" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="form-title text-center">
        <h4 data-tr="login">LOGIN</h4>
    </div>
    <div class="d-flex flex-column text-center">
        <form name="loginForm">
            <div class="form-group">
                <input type="user" name="user" class="form-control" ng-pattern = "regUser" id="user-email-log" placeholder="user/email@email.com">
            </div>
            <div class="form-group">
                <input type="password" name="password" ng-pattern = "regPass" class="form-control" id="password-log" placeholder="Password">
            </div>
            <button type="button" class="btn btn-info btn-block btn-round" id="log-success-button"
                data-tr="login" ng-disabled = "loginForm.user.$invalid || loginForm.password.$invalid" type="submit" ng-click="login()">Login</button>
        </form>

        <div class="text-center text-muted delimiter" data-tr="social-log"></div>
        <div class="d-flex justify-content-center social-buttons">
            <button type="button" class="btn btn-secondary btn-round" data-toggle="tooltip" data-placement="top"
                title="Twitter">
                <i class="fa fa-twitter"></i>
            </button>
            <button type="button" class="btn btn-secondary btn-round" data-toggle="tooltip" data-placement="top"
                title="Facebook">
                <i class="fa fa-facebook"></i>
            </button>
            <button type="button" class="btn btn-secondary btn-round" data-toggle="tooltip" data-placement="top"
                title="Linkedin">
                <i class="fa fa-linkedin"></i>
            </button>
        </div>
    </div>
</div>
<div class="modal-footer d-flex justify-content-center">
    <div class="signup-section">
        <span data-tr="login-section">Are you a member ye?</span>
        <a class="text-info" id="sign-log" data-bs-dismiss="modal" ng-click="closeModal(); openLogModal()" style="cursor:pointer;" data-tr="sign-up">Sign Up</a>.
    </div>
</div>