<div class="modal-header border-bottom-0">
    <button type="button" class="btn-close" data-bs-dismiss="modal" ng-click="closeModal()" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="form-title text-center">
        <h4 data-tr="login">LOGIN</h4>
    </div>
    <div class="d-flex flex-column text-center">
        <!--LOGIN-FORM-->
        <form name="loginForm">
            <!--USERNAME-->
            <div class="form-group">
                <!--INPUT-->
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <i class="fa fa-user input-group-text"></i>
                    </div>
                    <input type="user" class="form-control" ng-model="user" placeholder="Username/email@email.com"
                        name="user" ng-minlength="4" ng-maxlength="50" ng-pattern="regUser" required
                        ng-class="{'invalid-input': loginForm.user.$dirty && loginForm.user.$invalid }">
                </div>
                <!--VALIDATION-->
                <div class="text-danger" role="alert" class="error-message" ng-messages="loginForm.user.$error"
                    ng-show="loginForm.user.$dirty">
                    <p ng-message="required">This field is required</p>
                    <p ng-message="pattern">The field is invalid need to be a user or email</p>
                    <p ng-message="minlength">This field needs to be min 4 characters</p>
                    <p ng-message="maxlength">This field need to be max 50 characters</p>
                </div>
            </div>
            <!--PASSWORD-->
            <div class="form-group">
                <div class="mb-3">
                    <div class="input-group mb-1">
                        <div class="input-group-prepend">
                            <i class="fa fa-lock input-group-text"></i>
                        </div>
                        <input type="password" class="form-control" ng-model="password" placeholder="Password"
                            name="password" ng-minlength="4" ng-maxlength="20" ng-pattern="regPass" required
                            ng-class="{'invalid-input': loginForm.password.$dirty && loginForm.password.$invalid }">
                    </div>
                    <span style="font-size: 12px;" >
                        Don't remeber the password? 
                        <a ng-click="closeModal(); recoverPassModal();"  style="cursor:pointer;" class="text-info">Click here!</a>
                    </span>
                </div>

                <!--VALIDATION-->
                <div class="text-danger" role="alert" class="error-message" ng-messages="loginForm.password.$error"
                    ng-show="loginForm.password.$dirty">
                    <p ng-message="required">This field is required</p>
                    <p ng-message="pattern">You need lowercase, uppercase, numbers and special characters</p>
                    <p ng-message="minlength">This field needs to be min 4 characters</p>
                    <p ng-message="maxlength">This field need to be max 20 characters</p>
                </div>
            </div>
            <!--SUBMIT-->
            <button type="button" class="btn btn-info btn-block btn-round" id="log-success-button" data-tr="login"
                ng-disabled="loginForm.$invalid" type="submit" ng-click="login()">Login</button>
        </form>
        <!--SOCIAL-LOGIN-->
        <div class="text-center text-muted delimiter" data-tr="social-log">Social Login</div>
        <div class="d-flex justify-content-center social-buttons">
            <button type="button" class="btn btn-secondary btn-round" ng-click="githubSign()" data-placement="top"
                title="Github">
                <i class="fa fa-github"></i>
            </button>
            <button type="button" class="btn btn-secondary btn-round" ng-click="googleSign()" data-placement="top"
                title="Google">
                <i class="fa fa-google"></i>
            </button>
        </div>
    </div>
</div>
<div class="modal-footer d-flex justify-content-center">
    <div class="signup-section">
        <span data-tr="login-section">Are you a member yet?</span>
        <a class="text-info" id="sign-log" data-bs-dismiss="modal" ng-click="closeModal(); openLogModal()"
            style="cursor:pointer;" data-tr="sign-up">Sign Up</a>.
    </div>
</div>