<div class="modal-header border-bottom-0">
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="form-title text-center">
        <h4 data-tr="logout"></h4>
        <br />
        <p data-tr="close-session"></p>
        <button type="button" class="btn btn-info btn-block btn-round" id="log-success-button" data-tr="yes"></button>
        <button type="button" class="btn btn-info btn-block btn-round" id="log-close-button" data-bs-dismiss="modal"
            aria-label="Close" data-tr="no"></button>
    </div>
</div>