<footer class="footer" style="max-width: 100%;">
	<div class="container-fluid">

		<div class="row" style="background-color: white; border-top: solid 1px black;">
			<div class="col" style="text-align:center;">
				<p><a id="links">
						<h3>WolfGames</h3>
					</a></p>
				<hr>
				<p>
				<p><span class="fa fa-home"></span><a id="links">C/San Patricio 4, 45678 Irlanda, Valencia, España</a>
				</p>
				</p>
				<p><a href="#" id="links">
						<p><span class="fa fa-envelope"></span>info@wolfgames.es</p>
					</a></p>
				<p><a href="#" id="links">
						<p><span class="fa fa-phone"></span>+34666666666</p>
					</a></p>
				<p><a href="#" id="links">
						<p><span class="fa fa-globe"></span>www.wolfgames.com</p>
					</a></p>
			</div>
	
			<div class="col" style="text-align:center;">
				<p>
				<h3><a data-tr="f-info" id="links"></a></h3>
				</p>
				<hr>
				<p>
				<p><a href="#" id="links" data-tr="f-aboutus"></a></p>
				</p>
				<p>
				<p><a href="#" id="links" data-tr="f-shoping-conditions"></a></p>
				</p>
				<p>
				<p><a href="#" id="links" data-tr="f-legal-obligation"></a></p>
				</p>
				<p>
				<p><a href="#" id="links" data-tr="f-cookie-policy"></a></p>
				</p>
				<p>
				<p><a href="#" id="links" data-tr="f-terms-conditions"></a></p>
				</p>
			</div>
	
			<div class="col" style="text-align:center;">
				<p>
				<h3><a data-tr="f-social-networks" id="links"></a></h3>
				</p>
				<hr>
				<center>
					<a href="#" class="fa fa-facebook"></a>
					<a href="#" class="fa fa-twitter"></a>
					<a href="#" class="fa fa-youtube"></a>
					<a href="#" class="fa fa-linkedin"></a>
					<a href="#" class="fa fa-pinterest"></a>
				</center>
	
				<form>
					<label><input type="email" class="form-control" style="width:100%;"
							placeholder="Subscribe for Updates"></label>
					<button class="btn btn-success" style="margin-top: 5px;" data-tr="send"></button>
				</form>
			</div>
			<div class="col-12" style=" background-color:#414141; height:30px;">
				<h4 style="text-align:center; color:#FFF; text-shadow:0 0 8px #000; font-size: 15px;">&copy; 2020
					Copyrights: WolfGames</h4>
			</div>
		</div>
	</div>
</footer>